.container{
    width: 80%;
    margin: auto;
}
.row{
    display: flex;
    height:40px;
    color: rgb(12, 2, 18);
    justify-content:space-between;
    padding-top: 6px;
}
.col{
    
    height: 200px;
}
.header-top{
    background-color: #169FCC;
    height: 30px;
}
.nav-section{
    background-color: #5aa7e6;
    height: 110px;
    justify-content: space-between

}
.nav-bar{
    display: flex;
    padding-top: 30px;;
    justify-content:space-evenly;
    
}
.academic{
    background-color: #217996;
    height: 500px;
}
.white{
    display: flex; 
    justify-content:space-between;   
    text-align: center;
}
.w2{
    padding-top: 30px;
}
.ncol{
    text-align:center;
}





