/* .container{
    width: 80%;
    margin: auto;
}
.row{
    display: flex;
    height:40px;
    color: rgb(12, 2, 18);
    justify-content:space-between;
    padding-top: 6px;
    
}
.col{
    
    height: 200px;
}
.header-top{
    background-color: #169FCC;
    height: 30px;
}
.nav-section{
    flex-wrap: wrap;
    background-color: #438cc7;
    height: 110px;
    justify-content:space-around;
}
.nav-bar{
    display: flex;
    padding-top: 30px;;
    justify-content:space-around;
    flex-wrap: wrap;
}
.white{
    display: flex; 
    justify-content:space-between;   
    text-align: center;
}
.w2{
    padding-top: 30px;
}
.ncol{
    text-align:center;
}
.asection{
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    height: 400px;
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
    
}




 */
